.light {
  --bg: #ededed;
  --bg-primary: #fff;
  --bg-secondary: #000;
  --bg-interactive: #efefef;
  --bg-active: #eac921;
  --color-primary: #000;
  --color-secondary: #fff;
  --color-placeholder: #a7a7a7;
}
