.card {
  padding: 16px;
  border-radius: 12px;
  background: var(--bg-primary);
}

.group {
  gap: 8px;
}

.label {
  font-size: 1.2rem;
}

.edit.edit {
  position: relative;
  padding: 0;

  &::after {
    content: '';

    position: absolute;
    top: 114%;

    width: 100%;
    height: 2px;

    background-color: var(--bg-secondary);
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: transparent;
  }
}
